.navbar-button {
  height: 2em;
}

.nav-link.btn {
  display: inline;
}

#emergencyButton {
  margin-bottom: 0.8em;
}

.header {
  background-image: url(/image/banner.jpg);
  background-size: cover;
}

