.appTitle {
    font-size: 36pt;
    font-weight: bolder;
}

.appDescription {
    font-size: 18pt;
    font-weight: bold;
}

#emergencyButton {
    margin-bottom: 0.8em;
    font-size: 20pt;
    font-weight: bold;
}

header {
    height: 14em;
}

.header {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.header::after {
    content: "";
    background-image: url(/image/banner.jpg);
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}