.navbar-button {
    height: 2em;
}

.nav-link.btn {
    display: inline;
}

.nav-link {
    font-size: 14pt;
}

.navbar-brand  {
    margin-right: 0 !important;
}

/* .nav-item:not(.first-nav-item) {
border-left: 0.1px solid black;
} */

#homeBtn {
    border-right: 1px solid white !important;
}

#toggleLogBtn {
    border-left: 1px solid white !important;
}

.greetingMsg {
    border-left: 1px solid white;
    padding-left: 0.5em;
}

.greetingMsgText {
    margin-bottom: 0;
    color: white;
    font-size: 16pt;
    height: 100%;
    padding-top: calc(3.5% - 3.5px);
}

.greetMsgTextSm {
    font-size: 16pt;
    margin-top: 2%;
}

.fullName {
    font-weight: bold;
}

button:disabled {
    font-weight: bolder;
    color: white !important;
}
  